In [94]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = '/Users/jacobcortez/Documents/GitHub/DS_Repos/pandas_challenge/HeroesOfPymoli/Resources/purchase_data.csv'

# Read Purchasing File and store into Pandas data frame
purchase_data= pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [95]:
# Summarize our original df
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [96]:
# Find any incomplete rows
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [97]:
# Find the values/types in each row or column
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [98]:
# Total players table
player_count = purchase_data['SN'].nunique()
player_count_df = pd.DataFrame({"Total Players" : player_count},index=[""])
player_count_df

  Total Players
            576

In [99]:
# Unique Item Table
item_name = purchase_data['Item Name'].nunique()
avg_price = purchase_data['Price'].mean()
number_purchases = purchase_data['Purchase ID'].count()
total_revenue = purchase_data['Price'].sum()
item_name_df = pd.DataFrame({'Total Unquie Item': item_name,'Average Price': avg_price,'Total Purchase':number_purchases,'Total Revenue':total_revenue},index=[''])
item_name_df
item_name_df['Average Price'] = item_name_df['Average Price'].map('${:,.2f}'.format)
item_name_df['Total Revenue'] = item_name_df['Total Revenue'].map('${:,.2f}'.format)
item_name_df

  Total Unquie Item Average Price  Total Purchase Total Revenue
                179         $3.05             780     $2,379.77

In [117]:
# Gender Table
gender_group = purchase_data.groupby('Gender')
total_count_gender = gender_group.nunique()['SN']
percentage_of_players_by_gender = (total_count_gender/player_count) * 100
gender_table = pd.DataFrame({'Total Count': total_count_gender,'Percent of Players': percentage_of_players_by_gender})
gender_table
gender_table.sort_values(['Total Count'],ascending= False).style.format({'Percent of Players':'{:.2f}%'})

In [129]:
# Gender Table Purchasing Analysis
gender_group = purchase_data.groupby('Gender')
total_purchase_count_gender = gender_group.count()['Purchase ID']
avg_purchase_price_gender = gender_group.mean()['Price']
total_purchase_price_gender = gender_group.sum()['Price']
avg_total_purchase_person = (total_purchase_price_gender/total_count_gender) 
gender_table_purchasing_analysis = pd.DataFrame({'Purcahse Count': total_purchase_price_gender,'Average Purchase Price': avg_purchase_price_gender,'Total Purchase Value': total_purchase_price_gender,'Average Total Purcahse Price Per Person': avg_total_purchase_person})
gender_table_purchasing_analysis

,Purcahse Count,Average Purchase Price,Total Purchase Value,Average Total Purcahse Price Per Person
Gender,,,,
Female,361.94,3.203009,361.94,4.468395
Male,1967.64,3.017853,1967.64,4.065372
Other / Non-Disclosed,50.19,3.346000,50.19,4.562727

In [ ]:
# Try to reformat later on ----------------->
#gender_table_purchasing_analysis.sort_values(['Purchase Count'],ascending= False).style.format({'Purcahse Count': '{:.0f}','Average Purchase Price': avg_purchase_price_gender,'Total Purchase Value': total_purchase_price_gender,'Average Total Purcahse Price Per Person': avg_total_purchase_person})

In [131]:
# Age Demographics
age_group = purchase_data.groupby('Age')

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fad9a7275e0>