In [6]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = '/Users/jacobcortez/Documents/GitHub/DS_Repos/pandas_challenge/HeroesOfPymoli/Resources/purchase_data.csv'

# Read Purchasing File and store into Pandas data frame
purchase_data.df = pd.read_csv(file_to_load)
purchase_data.df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [7]:
# Summarize our original df
purchase_data.df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [17]:
# Find any incomplete rows
purchase_data.df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [18]:
# Find the values/types in each row or column
purchase_data.df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [49]:
# Focus on SN column to see how many players there are------------> How did I visulaize the 'length' of 576 for this data
purchase_data.df['SN'].value_counts()

Lisosia93       5
Iral74          4
Idastidru52     4
Hada39          3
Saistyphos30    3
               ..
Lassassast73    1
Aidaira26       1
Tyalaesu89      1
Frichaya88      1
Filrion59       1
Name: SN, Length: 576, dtype: int64

In [42]:
# Group player names in df and visulaize ---------------------> 'Player Name Count Data Frame'
group_sn_df = purchase_data.df.groupby(['SN'])
print(group_sn_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fd14a044c40>

In [51]:
# Focus on Item Name column to see how many unique items there are------------> How did I visulaize the 'length' of 179 for this data
purchase_data.df['Item Name'].value_counts()

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Fiery Glass Crusader                             9
Extraction, Quickblade Of Trembling Hands        9
Nirvana                                          9
                                                ..
Betrayer                                         1
The Decapitator                                  1
Undead Crusader                                  1
Alpha, Reach of Ending Hope                      1
Endbringer                                       1
Name: Item Name, Length: 179, dtype: int64

In [67]:
# Group Item Name in df and visulaize ---------------------> 'Groupby Item Name Data Frame'
group_itemname_df = purchase_data.df.groupby(['Item Name'])
print(group_itemname_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fd14a069280>

In [59]:
# Summarize our original df
purchase_data.df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [61]:
# Index Item Name column ---------------------> 'Index Item Name Data Frame'
item_name_df = purchase_data.df.set_index('Item Name')
item_name_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Price
Item Name,,,,,,
"Extraction, Quickblade Of Trembling Hands",0,Lisim78,20,Male,108,3.53
Frenzied Scimitar,1,Lisovynya38,40,Male,143,1.56
Final Critic,2,Ithergue48,24,Male,92,4.88
Blindscythe,3,Chamassasya86,24,Male,100,3.27
Fury,4,Iskosia90,23,Male,131,1.44

In [69]:
# Total revenue in Price column
item_name_df['Price'].sum()

2379.77

In [77]:
# Average cost in Price column
item_name_df['Price'].mean()

3.050987179487176

In [76]:
# Total counts in Purchase ID column
item_name_df['Purchase ID'].count()

780

In [68]:
# Statiscal analysis on Item Name ---------------------> 'Stats Item Name Data Frame'
stats_itemname_df = item_name_df.describe()
stats_itemname_df.head()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000