In [191]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = '/Users/jacobcortez/Documents/GitHub/DS_Repos/pandas_challenge/HeroesOfPymoli/Resources/purchase_data.csv'

# Read Purchasing File and store into Pandas data frame
purchase_data= pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [192]:
# Summarize our original df
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [193]:
# Find any incomplete rows
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [194]:
# Find the values/types in each row or column
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [195]:
# Total players table
player_count = purchase_data['SN'].nunique()
player_count_df = pd.DataFrame({"Total Players" : player_count},index=[""])
player_count_df

  Total Players
            576

In [196]:
# Unique Item Table
item_name = purchase_data['Item Name'].nunique()
avg_price = purchase_data['Price'].mean()
number_purchases = purchase_data['Purchase ID'].count()
total_revenue = purchase_data['Price'].sum()
item_name_df = pd.DataFrame({'Total Unquie Item': item_name,'Average Price': avg_price,'Total Purchase':number_purchases,'Total Revenue':total_revenue},index=[''])
item_name_df
item_name_df['Average Price'] = item_name_df['Average Price'].map('${:,.2f}'.format)
item_name_df['Total Revenue'] = item_name_df['Total Revenue'].map('${:,.2f}'.format)
item_name_df

  Total Unquie Item Average Price  Total Purchase Total Revenue
                179         $3.05             780     $2,379.77

In [197]:
# Gender Table
gender_group = purchase_data.groupby('Gender')
total_count_gender = gender_group.nunique()['SN']
percentage_of_players_by_gender = (total_count_gender/player_count) * 100
gender_table = pd.DataFrame({'Total Count': total_count_gender,'Percent of Players': percentage_of_players_by_gender})
gender_table
gender_table.sort_values(['Total Count'],ascending= False).style.format({'Percent of Players':'{:.2f}%'})

In [198]:
# Gender Table Purchasing Analysis
gender_group = purchase_data.groupby('Gender')
total_purchase_count_gender = gender_group.count()['Purchase ID']
avg_purchase_price_gender = gender_group.mean()['Price']
total_purchase_price_gender = gender_group.sum()['Price']
avg_total_purchase_person_gender = (total_purchase_price_gender/total_count_gender) 
gender_table_purchasing_analysis = pd.DataFrame({'Purchase Count': total_purchase_count_gender,
                                                'Average Purchase Price': avg_purchase_price_gender,
                                                'Total Purchase Value': total_purchase_price_gender,
                                                'Average Purchase Total Per Person': avg_total_purchase_person_gender})
gender_table_purchasing_analysis
gender_table_purchasing_analysis.style.format({'Average Purchase Price': '${:,.2f}',
                                                'Total Purchase Value': '${:,.2f}',
                                                'Average Purchase Total Per Person': '${:,.2f}'})

In [199]:
# Age Demographics
age_bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,1000000]
age_bins_labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
purchase_data['Age Group'] = pd.cut(purchase_data['Age'],bins = age_bins, labels = age_bins_labels)
purchase_data
age_group = purchase_data.groupby('Age Group')
total_count_age_group = age_group['SN'].nunique()
percentage_of_players_by_group = (total_count_age_group/player_count) * 100
age_group_table = pd.DataFrame({'Total Count': total_count_age_group,'Percentage of Players': percentage_of_players_by_group})
age_group_table
age_group_table.style.format({'Percentage of Players': '{:.2f}%'})

In [200]:
# Age Demographics Purchasing Analysis
total_purchase_count_age_group = age_group.count()['Purchase ID']
avg_purchase_price_age_group = age_group.mean()['Price']
total_purchase_price_age_group = age_group.sum()['Price']
avg_total_purchase_person_age_group = (total_purchase_price_age_group/total_count_age_group)
age_group_table_purchasing_analysis = pd.DataFrame({'Purchase Count': total_count_age_group,
                                                    'Average Purchase Price': avg_purchase_price_age_group,
                                                    'Total Purchase Value': total_purchase_price_age_group,
                                                    'Average Purchase Total per Person': avg_total_purchase_person_age_group})
age_group_table_purchasing_analysis
age_group_table_purchasing_analysis.style.format({'Average Purchase Price': '${:,.2f}',
                                                'Total Purchase Value': '${:,.2f}',
                                                'Average Purchase Total per Person': '${:,.2f}'})